.title{

    color:aliceblue;
}

.subTitle {
    color:aliceblue;
}

@media (max-width: 800px) {
    .title {
        margin-left: 20%;
        margin-top: 10%; 
        width: 80%;
    }

    .subTitle {
        margin-left: 30%;
        color:aliceblue; 
        width: 80%;
    }
}